$table-border-color: #ddd;
$table-header-bg: #f4f4f4;
$table-hover-bg: #f9f9f9;
$table-striping-color: #f2f2f2;



.mat-mdc-table {
  box-shadow: none;
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}
  thead {
    background-color: $table-header-bg;
    width: 100%;
    justify-content: space-between;
    
    @media (max-width: 768px) {
      display: flex;
    }

 
  }
   th.mat-sort-header.mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell {
      padding: 12px;
      text-align: left;
      font-weight: bold;
      color: black;
    }
  
      tr.mat-mdc-row.mdc-data-table__row.cdk-row {
      @media (max-width: 768px) {
        display: flex;
      }

      &[show="false"] {
        display: none !important;
      }

      &:nth-of-type(even) {
        background-color: $table-striping-color;
      }

      &:hover {
        background-color: $table-hover-bg;
      }

      td {
        padding: 12px;
        border-bottom: 1px solid $table-border-color;

        img {
          cursor: pointer;
        }
      }
    }
  

  @media (max-width: 768px) {
    tbody, td, tr {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }

    tr {
      display: contents;
    }

    td {
      text-align: right;
      position: relative;
      padding-left: 50%;
      white-space: nowrap;

      &::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        white-space: nowrap;
      }
    }
  }


#overlay {
  position: absolute;
  top: 0;
  margin: 0;
  left: 0;
  display: block;
  height: 100vh;
  width: 100%;
  background-color: #000000b3;
  z-index: 1000;
}

.container_popup {
  z-index: 999999;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 5%;
  display: block;
}

th.mat-mdc-sort-header-sorted {
  color: black;
}

#Edit, #Add {
  &[class*="hide"] {
    display: none;
  }
}

button:disabled {
  opacity: 0.6;
}

input {
  caret-color: red;
}


